* {
    max-width: 100vw;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

header {
    padding: 20px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}

header a:hover {
    cursor: grab;
}

#mfb-logo {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease
}

nav ul a:hover {
    color: #136F64;
    text-decoration: none;
}

nav ul li {
    padding: 5px;
    margin-left: 10px;
    font-family: "Poppins"
}

/* Hamburger icon */
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* styling for when hamburger icon is clicked */
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 30vh;
    list-style: none;
    background-color: #136F64;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 50px);
    width: 100%;
    padding: 0;
}

.mobile-menu a {
    color: white;
    font-family: 'Poppins';
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
    width: 100%;
}

.mobile-menu li {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%; 
}

/* Section 1 */
.title-section {
    background-image: url('../images/join/join-background.png');
    background-size: cover; 
    background-position: center;
    height: 60vh;
    width: 100vw;
}

/* Title text */
.title {
    width: 100vw;
    margin-top: 40px;
}

.title p {
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    margin: 0 0;
}

/* Footer */
footer {
    width: 100%;
    background-color: #136F64;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0px 80px 0px 80px;
    margin-bottom: 60px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
}

.footer-icons img {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
}

.footer-section-1 p {
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    margin: 0 0;
}

.footer-section-2 p {
    padding: 0px 80px 0px 80px;
    color: white;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
}

/* Application Button */
#application-button-container {
    display: flex;
    justify-content: center;
}

#application-button-container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    background-color: #136F64;
    border-radius: 50px;
    padding: 10px 20px;

    margin-top: 1vw;

    transition: color 0.3s ease;
}

#application-button-container a:hover {
    color: #062623; /* Change the text color on hover */
}

/* Section 2 - Information */
.join-s2 {
    text-align: center;
    margin-top: 250px;
    justify-content: center;
}

.join-s2 h1 {
    color:#136F64;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 50px;
}

#join-contact-info {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
}

#join-title-details {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;

    width: 60%;
    margin: 20px auto;
}

#recruitment-guide {
    color: black;
    font-weight: 700;
}

/* Section 3 - Timeline */
.join-s3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.join-timeline-item-container {
    display: flex;
    flex-direction: row;

    /* width: 80%; */
    margin: 0 auto;
}

.join-timeline-item-container img {
    width: 30vw;
    height: auto;

    object-fit: cover;
}

.join-information-container {
    font-family: 'Roboto';
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    /* Timeline details */
.join-information-container h1 {
    font-weight: 600;
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 0;
}

.join-information-container h2 {
    font-weight: 400;
    font-size: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

.join-information-container p {
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.7;
}

    /* Button Styling */
.join-button-container {
    display: flex;
    justify-content: center;
}

.join-button-container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2vw;
    background-color: #136F64;
    border-radius: 50px;
    padding: 0.5vw 1.2vw;

    margin-top: 1vw;

    transition: color 0.3s ease;
}

.join-button-container a:hover {
    color: #062623; /* Change the text color on hover */
}

/* Timeline line elements */
.timeline-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.vertical-line {
    width: 6px;
    height: 100%;
    background-color:#136F64;
    left: calc(50% - 3px);
    position: relative;
}

.circle {
    width: 25px;
    height: 25px; 
    background-color: #136F64; 
    border-radius: 50%;
    position: relative;
    right: 3px;
    margin-bottom: 12vw;
}

@media only screen and (max-width: 768px) {
    header {
        margin: 0;
        padding-bottom: 0;
    }
    /* Section 1*/
    .title {
        margin-top: 0px;
    }

    .title-section {
        height: 50vw;
    }

    .title p {
        font-size: 10vw;
    }

    /* Footer */
    .footer-icons img {
        width: 20px;
        height: 20px;
    }
    
    .footer-section-1 p {
        font-size: 14px;
    }
    
    .footer-section-2 p {
        font-size: 10px;
    }

    /* Application Button */
    #application-button-container {
        display: flex;
        justify-content: center;
    }
    
    #application-button-container a {
        font-size: 2.5vw;
        padding: 8px 12px;
    }

    /* Section 2 */
    .join-s2 {
        margin-top: 22vw;
    }

    .join-s2 h1 {
        font-size: 40px;
    }

    #join-contact-info {
        font-size: 13px;
        width: 90%;
        margin: 0 auto;
    }
    
    #join-title-details {
        font-size: 13px;
    
        width: 90%;
        margin: 20px auto;
    }

    /* Section 3 */
    .join-timeline-item-container img {
        display: none;
    }

    /* Section 3 */
    .join-information-container {
        width: 60vw;
        height: 45vw;
    }

    .join-information-container h1 {
        font-size: 5vw;
    }

    .join-information-container h2 {
        font-size: 3vw;
    }

    .join-information-container p {
        font-size: 3vw;
        line-height: 1.2;
    }

    .join-button-container a {
        font-size: 3vw;
        padding: 8px 12px;
    }
}

@media only screen and (max-width: 600px) {
    /* Header and navbar */
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }    

    /* Section 1 */
    .title-section {
        height: 50vw;
    }

    .title {
        margin-top: 0.2vh;
    }

    .title p {
        font-size: 10vw;
    }

    /* Footer */
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-icons img {
        width: 15px;
        height: 15px;
        margin: 0 1px 0 1px;
    }
    
    .footer-section-1 {
        padding: 0px 30px 0px 30px;
        margin: 0 0 20px 0;
    }

    .footer-section-1 p {
        font-size: 9px;
    }
    
    .footer-section-2 p {
        padding: 0px 30px 0px 30px;
        font-size: 7px;
    }

    /* Section 2 */
    .join-s2 h1 {
        font-size: 30px;
    }

    /* Section 3 */
    .join-information-container {
        width: 60vw;
        height: 45vw;
    }

    .join-information-container h1 {
        font-size: 5vw;
    }

    .join-information-container h2 {
        font-size: 3vw;
    }

    .join-information-container p {
        font-size: 3vw;
        line-height: 1.2;
    }

    .join-button-container a {
        font-size: 4vw;
        padding: 5px 10px;
    }
}
