html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    padding: 20px 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    margin-left: 5vw;
    margin-right: 5vw;
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
}

.text-green {
    color: #136F64
}

#mfb-logo {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    /* border-style: solid;
    border-color: red;
    border-width: 1px; */
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease
}

nav ul a:hover {
    color: #136F64;
    text-decoration: none;
}

nav ul li {
    padding: 5px;
    margin-left: 10px;
    font-family: "Poppins"
}

/* Hamburger icon */
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* styling for when hamburger icon is clicked */
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 30vh;
    list-style: none;
    background-color: #136F64;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 50px);
    width: 100%;
    padding: 0;
}

.mobile-menu a {
    color: white;
    font-family: 'Poppins';
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
    width: 100%;
}

.mobile-menu li {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}

/* Title Section */
.title-section {
    background-image: url('../images/team/team-background.png');
    background-size: cover;
    /* background-position: 20% 55%; */
    background-position: center;
    height: 60vh;
}

.title {
    width: 100vw;
    margin-top: 40px;
}

.title p {
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    margin: 0 0;
}

/* Executive Board Section */
.executive-board {
    padding: 50px 10% 75px;
}

.executive-board-title {
    text-align: center;
    color: #136F64;
    font-family: 'Roboto', serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
}

.portrait-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 300px));
    gap: 30px;
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 20px;
    justify-content: center;
    justify-items: center;
}

.portrait-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portrait {
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.portrait-name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.portrait-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666;
    margin: 5px 0 0 0;
}

.flip-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    overflow: hidden;
    margin-bottom: 15px;
  }

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide text during flip */
    overflow: hidden;
}

/* The back side should be rotated 180 degrees so it's hidden initially */
.flip-card-back {
    transform: rotateY(180deg);
    background-color: #136F64; /* or any background color you like */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.flip-card-back .year-major,
.flip-card-back .hobbies {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.flip-socials {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.flip-socials .icon {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.flip-socials .icon:hover {
    transform: scale(1.2);
}

/* Individual portrait styles */
.exec-portrait-1 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/rohan-dondeti.jpg'); /* Update image URL */
    background-size: cover;
    transform: scale(1.5);
    background-position-x: 1px;
    background-position-y: -20px;
}

.exec-portrait-2 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/anika-kesavalu.jpg'); /* Update image URL */
    background-size: cover;
    transform: scale(2.5);
    background-position-x: 2px;
    background-position-y: 5px;
}

.exec-portrait-3 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/tanish-kher.jpg'); /* Update image URL */
    background-size: cover;
    transform: scale(1.6);
    background-position-x: 1px;
    background-position-y: 0px;
}

.exec-portrait-4 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/karaan-shetty.jpg'); /* Update image URL */
    background-size: cover;
    transform: scale(1.9);
    background-position-x: 1px;
    background-position-y: 20px;
}

.exec-portrait-5 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/kush-goswami.jpg'); /* Update image URL */
    background-size: cover;
    transform: scale(1.8);
    background-position-x: 10px;
    background-position-y: -10px;
}

.exec-portrait-6 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/kiera-flores.jpeg'); /* Update image URL */
    background-size: cover;
    transform: scale(1.9);
    background-position-x: -5px;
    background-position-y: 2px;
}

.exec-portrait-7 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/shreya-khanna.jpeg'); /* Update image URL */
    background-size: cover;
    transform: scale(1.5);
    background-position-x: -45px;
    background-position-y: -20px;
}

.exec-portrait-8 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/tiffany-lin.jpg'); /* Update image URL */
    background-size: cover;
    background-position: center;
    transform: scale(1.9);
    background-position-x: -5px;
    background-position-y: -0px;
}

.portrait-1 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/jolene-seng.jpeg');
    background-size: cover;
    transform: scale(1.2);
    background-position-x: -5px;
    background-position-y: -60px;
}

.portrait-2 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/anish-bheemanpally.png');
    background-size: cover;
    transform: scale(1.3);
    background-position-y: -25px;
}

.portrait-3 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/kush-goswami.jpg');
    background-size: cover;
    transform: scale(1.8);
    background-position-x: 10px;
    background-position-y: -10px;
}

.portrait-4 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/hovan-liu.jpg');
    background-size: cover;
    background-position-y: 65px;
    transform: scale(1.5);
}

.portrait-5 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/becca-peng.png');
    background-size: cover;
    transform: scale(1.6) rotate(-1deg);
    background-position-x: 5px;
    background-position-y: -40px;
}

.portrait-6 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/sohail-mukadam.jpeg');
    background-size: cover;
    transform: scale(1.15);
    background-position-x: -60px;
    background-position-y: 20px;
}

.portrait-7 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/alizeh-ali.jpeg');
    background-size: cover;
    transform: scale(1.9);
    background-position-y: -10px;
}

.portrait-8 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/anshul-doshi.jpg');
    background-size: cover;
    transform: scale(1.9);
    background-position-y: 15px;
}

.portrait-9 {
    width: 100%;
    height: 100%;
    background-image: url('../images/team/sophia-yang.jpg');
    background-size: cover;
    transform: scale(1.8);
    background-position-x: 10px;
    background-position-y: -10px;
}

.portrait-grid .portrait-card .portrait img.position-1 {
    transform: scale(1.1);
    object-position: 20% 20%;
}

.portrait-name {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.portrait-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666;
    margin: 5px 0 0 0;
}

/* Board Section */
.board {
    padding: 0 10% 75px;
}

.board-title {
    text-align: center;
    color: #136F64;
    font-family: 'Roboto', serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
}

/* Footer */
footer {
    width: 100%;
    background-color: #136F64;
    margin-bottom: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0px 80px 0px 80px;
    margin-bottom: 60px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
}

.footer-icons img {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
}

.footer-section-1 p {
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}

.footer-section-2 p {
    padding: 0px 80px 0px 80px;
    color: white;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 700;
}

/* Members Section */
.members {
    padding: 0 10% 75px;
}

.members-title {
    text-align: center;
    color: #136F64;
    font-family: 'Roboto', serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
}

.members-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 180px));
    gap: 20px;
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 20px;
    justify-content: center;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.member-portrait {
    width: 180px;
    height: 240px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.member-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.member-title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    margin: 3px 0 0 0;
}

@media only screen and (max-width: 1400px) {
    .members-grid {
        grid-template-columns: repeat(4, minmax(auto, 180px));
    }
}

@media only screen and (max-width: 1200px) {
    .executive-board .portrait-grid,
    .board .portrait-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 300px));
        gap: 25px;
    }

    /* Handle last row items for executive board */
    .executive-board .portrait-grid .portrait-card:last-child:nth-child(3n-1) {
        grid-template-columns: repeat(3, minmax(auto, 300px));
    }

    /* Handle last row items for board */
    .board .portrait-grid .portrait-card:last-child:nth-child(3n-1) {
        grid-column: 1 / span 3;
    }

    .executive-board-title,
    .board-title {
        font-size: 45px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .members-grid {
        grid-template-columns: repeat(3, minmax(auto, 180px));
    }
}

@media only screen and (max-width: 768px) {
    .title-section {
        height: 50vw;
    }

    .title {
        margin-top: 20px;
    }

    .title p {
        font-size: 10vw;
    }

    .executive-board .portrait-grid,
    .board .portrait-grid {
        grid-template-columns: repeat(2, minmax(auto, 280px));
    }

    .portrait,
    .flip-card {
        width: 280px;
        height: 373px; /* Maintains aspect ratio */
    }

    .executive-board-title,
    .board-title {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .portrait-name {
        font-size: 18px;
    }

    .portrait-title {
        font-size: 15px;
    }

    .members-grid {
        grid-template-columns: repeat(2, minmax(auto, 160px));
        gap: 15px;
    }

    .member-portrait {
        width: 160px;
        height: 213px;
    }

    .members-title {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .member-name {
        font-size: 14px;
    }

    .member-title {
        font-size: 12px;
    }

    /* Footer */
    .footer-icons img {
        width: 20px;
        height: 20px;
    }

    .footer-section-1 p {
        font-size: 14px;
    }

    .footer-section-2 p {
        font-size: 10px;
    }

}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .title-section {
        height: 50vw;
    }

    .title {
        margin-top: 0.2vh;
    }

    .title p {
        font-size: 10vw;
    }

    .executive-board .portrait-grid,
    .board .portrait-grid {
        grid-template-columns: repeat(2, minmax(auto, 240px));
        gap: 15px;
        padding: 0 10px;
    }

    .portrait,
    .flip-card {
        width: 240px;
        height: 320px;
    }

    .executive-board-title,
    .board-title {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .portrait-name {
        font-size: 16px;
    }

    .portrait-title {
        font-size: 14px;
    }

    .flip-card-back .year-major,
    .flip-card-back .hobbies {
        font-size: 13px;
    }

    .flip-socials .icon {
        width: 20px;
        height: 20px;
    }

    .members-grid {
        grid-template-columns: repeat(2, minmax(auto, 140px));
        gap: 10px;
    }

    .member-portrait {
        width: 140px;
        height: 187px;
    }

    .members-title {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .member-name {
        font-size: 13px;
    }

    .member-title {
        font-size: 11px;
    }

    /* Footer */
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-icons img {
        width: 15px;
        height: 15px;
        margin: 0 1px 0 1px;
    }

    .footer-section-1 {
        padding: 0px 30px 0px 30px;
        margin: 0px 20px 0;
    }

    .footer-section-1 p {
        font-size: 9px;
    }

    .footer-section-2 p {
        padding: 0px 30px 0px 30px;
        font-size: 7px;
    }
}